<a href="https://colab.research.google.com/github/lauramsromano/World_Happines/blob/main/World_Happiness_Report_up_to_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[World Happiness Report up to 2022](https://www.kaggle.com/datasets/mathurinache/world-happiness-report)

In [ ]:
#Importando biblioteca necessária para tratamento dos dados:

import pandas as pd
from datetime import datetime

In [ ]:
#Lista com os nomes das colunas importantes em comum entre os dados dos diferentes anos:
common_cols = ['Happiness Rank', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)','Health (Life Expectancy)','Freedom', 'Trust (Government Corruption)','Generosity','Year']

In [ ]:
#Importando as tabelas:

dados_2015 = pd.read_csv("2015.csv")
dados_2016 = pd.read_csv("2016.csv")
dados_2017 = pd.read_csv("2017.csv")
dados_2018 = pd.read_csv("2018.csv")
dados_2019 = pd.read_csv("2019.csv")
dados_2020 = pd.read_csv("2020.csv")
dados_2021 = pd.read_csv("2021.csv")
dados_2022 = pd.read_csv("2022.csv")

#Convertendos os anos para tipo 'data':
ano_2015 = datetime.strptime('2015', '%Y').date()
ano_2016 = datetime.strptime('2016', '%Y').date()
ano_2017 = datetime.strptime('2017', '%Y').date()
ano_2018 = datetime.strptime('2018', '%Y').date()
ano_2019 = datetime.strptime('2019', '%Y').date()
ano_2020 = datetime.strptime('2020', '%Y').date()
ano_2021 = datetime.strptime('2021', '%Y').date()
ano_2022 = datetime.strptime('2020', '%Y').date()

#Adicionando coluna de Year (ano) nos dataframes:
years = [ano_2015, ano_2016, ano_2017, ano_2018, ano_2019, ano_2020, ano_2021, ano_2022]
df = [dados_2015, dados_2016, dados_2017, dados_2018, dados_2019, dados_2020, dados_2021, dados_2022]

for i in range(0,8):
    df[i]['Year'] = years[i]

In [ ]:
#Renomeando colunas necessárias:
dados_2015 = dados_2015.rename(columns={'Family':'Family (Social Support)'})

dados_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family (Social Support)        158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
 12  Year                           158 non-null    object
dtypes: float64(9), int64(1), object(3)
memory usage: 16.2+ KB

In [ ]:
#Renomeando colunas necessárias:
dados_2016 = dados_2016.rename(columns={'Family':'Family (Social Support)'})

dados_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family (Social Support)        157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
 13  Year                           157 non-null    object
dtypes: float64(10), int64(1), object(3)
memory usage: 17.3+ KB

In [ ]:
#Renomeando colunas necessárias:
dados_2017 = dados_2017.rename(columns = {"Whisker.high": "Whisker high",
                                          "Whisker.low": "Whisker low",
                                          "Happiness.Rank": "Happiness Rank",
                                          "Happiness.Score": "Happiness Score",
                                          "Economy..GDP.per.Capita.":"Economy (GDP per Capita)",
                                          "Health..Life.Expectancy.":"Health (Life Expectancy)",
                                          "Trust..Government.Corruption.":"Trust (Government Corruption)",
                                          "Dystopia.Residual":"Dystopia Residual",
                                          'Family':'Family (Social Support)',})


#Criando e atribuindo valores a coluna Região a parte da coluna Região já existente no df com dados de 2015:
dados_2017 = dados_2017.merge(dados_2015[["Country","Region"]], on="Country", how="left")
#Colocando '-' onde não bá região correspondente para tratamentos mais a frente:
dados_2017["Region"] = dados_2017["Region"].fillna('-')

dados_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155 entries, 0 to 154
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness Rank                 155 non-null    int64
 2   Happiness Score                155 non-null    float64
 3   Whisker high                   155 non-null    float64
 4   Whisker low                    155 non-null    float64
 5   Economy (GDP per Capita)       155 non-null    float64
 6   Family (Social Support)        155 non-null    float64
 7   Health (Life Expectancy)       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust (Government Corruption)  155 non-null    float64
 11  Dystopia Residual              155 non-null    float64
 12  Year                           155 non-null    object
 13  Region                         155 non-null    object
dtypes: float64(10), int64(1), object(3)
memory usage: 18.2+ KB

In [ ]:
#Renomeando colunas necessárias:
dados_2018 = dados_2018.rename(columns = {"Overall rank": "Happiness Rank",
                                          "Score": "Happiness Score",
                                          "Country or region": "Country",
                                          "Social support":"Family (Social Support)",
                                          "GDP per capita":"Economy (GDP per Capita)",
                                          "Healthy life expectancy":"Health (Life Expectancy)",
                                          "Freedom to make life choices":"Freedom",
                                          "Perceptions of corruption":"Trust (Government Corruption)"})

#Criando e atribuindo valores a coluna Região a parte da coluna Região já existente no df com dados de 2015:
dados_2018 = dados_2018.merge(dados_2015[["Country","Region"]], on="Country", how="left")
#Colocando '-' onde não bá região correspondente para tratamentos mais a frente:
dados_2018["Region"] = dados_2018["Region"].fillna('-')

dados_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Happiness Rank                 156 non-null    int64
 1   Country                        156 non-null    object
 2   Happiness Score                156 non-null    float64
 3   Economy (GDP per Capita)       156 non-null    float64
 4   Family (Social Support)        156 non-null    float64
 5   Health (Life Expectancy)       156 non-null    float64
 6   Freedom                        156 non-null    float64
 7   Generosity                     156 non-null    float64
 8   Trust (Government Corruption)  155 non-null    float64
 9   Year                           156 non-null    object
 10  Region                         156 non-null    object
dtypes: float64(7), int64(1), object(3)
memory usage: 14.6+ KB

In [ ]:
#Renomeando colunas necessárias:
dados_2019 = dados_2019.rename(columns = {"Overall rank": "Happiness Rank", 
                             "Country or region": "Country", 
                             "GDP per capita":"Economy (GDP per Capita)",
                             "Healthy life expectancy":"Health (Life Expectancy)",
                             "Freedom to make life choices":"Freedom",
                             "Score" : "Happiness Score", 
                             "Social support":"Family (Social Support)",
                             "Perceptions of corruption":"Trust (Government Corruption)"})

#Criando e atribuindo valores a coluna Região a parte da coluna Região já existente no df com dados de 2015:
dados_2019 = dados_2019.merge(dados_2015[["Country","Region"]], on="Country", how="left")
#Colocando '-' onde não bá região correspondente para tratamentos mais a frente:
dados_2019["Region"] = dados_2019["Region"].fillna('-')

dados_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Happiness Rank                 156 non-null    int64
 1   Country                        156 non-null    object
 2   Happiness Score                156 non-null    float64
 3   Economy (GDP per Capita)       156 non-null    float64
 4   Family (Social Support)        156 non-null    float64
 5   Health (Life Expectancy)       156 non-null    float64
 6   Freedom                        156 non-null    float64
 7   Generosity                     156 non-null    float64
 8   Trust (Government Corruption)  156 non-null    float64
 9   Year                           156 non-null    object
 10  Region                         156 non-null    object
dtypes: float64(7), int64(1), object(3)
memory usage: 14.6+ KB

In [ ]:
#Removendo colunas desnecessárias:
dados_2020.drop('Standard error of ladder score', axis = 1, inplace=True)
dados_2020.drop('Logged GDP per capita', axis = 1, inplace=True)
dados_2020.drop('Social support', axis = 1, inplace=True)
dados_2020.drop('Healthy life expectancy', axis = 1, inplace=True)
dados_2020.drop('Freedom to make life choices', axis = 1, inplace=True)
dados_2020.drop('Generosity', axis = 1, inplace=True)
dados_2020.drop('Perceptions of corruption', axis = 1, inplace=True)
dados_2020.drop('Ladder score in Dystopia', axis = 1, inplace=True)

#Renomeando colunas necessárias:
dados_2020 = dados_2020.rename(columns={'Country name':'Country',
                                'Regional indicator': 'Region',
                                "upperwhisker": "Whisker high",
                                "lowerwhisker": "Whisker low",
                                'Ladder score':'Happiness Score',
                                "Explained by: Social support":"Family (Social Support)",
                                "Explained by: Healthy life expectancy":"Health (Life Expectancy)",
                                "Explained by: Freedom to make life choices":"Freedom",
                                "Explained by: Perceptions of corruption":"Trust (Government Corruption)",
                                "Explained by: Log GDP per capita":"Economy (GDP per Capita)",
                                "Explained by: Generosity":"Generosity",
                                "Dystopia + residual" :"Dystopia"})

#Criando e atribuindo valores a coluna Happiness Rank utilizando um range considerando o index das linhas:
dados_2020['Happiness Rank'] = [i for i in range(1, len(dados_2020.index)+1)]


dados_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        153 non-null    object
 1   Region                         153 non-null    object
 2   Happiness Score                153 non-null    float64
 3   Whisker high                   153 non-null    float64
 4   Whisker low                    153 non-null    float64
 5   Economy (GDP per Capita)       153 non-null    float64
 6   Family (Social Support)        153 non-null    float64
 7   Health (Life Expectancy)       153 non-null    float64
 8   Freedom                        153 non-null    float64
 9   Generosity                     153 non-null    float64
 10  Trust (Government Corruption)  153 non-null    float64
 11  Dystopia                       153 non-null    float64
 12  Year                           153 non-null    object
 13  Happiness Rank                 153 non-null    int64
dtypes: float64(10), int64(1), object(3)
memory usage: 16.9+ KB

In [ ]:
#Removendo colunas desnecessárias:
dados_2021.drop('Standard error of ladder score', axis = 1, inplace=True)
dados_2021.drop('Logged GDP per capita', axis = 1, inplace=True)
dados_2021.drop('Social support', axis = 1, inplace=True)
dados_2021.drop('Healthy life expectancy', axis = 1, inplace=True)
dados_2021.drop('Freedom to make life choices', axis = 1, inplace=True)
dados_2021.drop('Generosity', axis = 1, inplace=True)
dados_2021.drop('Perceptions of corruption', axis = 1, inplace=True)
dados_2021.drop('Ladder score in Dystopia', axis = 1, inplace=True)

#Renomeando colunas necessárias:
dados_2021 = dados_2021.rename(columns={'Country name':'Country',
                                'Regional indicator': 'Region',
                                "upperwhisker": "Whisker high",
                                "lowerwhisker": "Whisker low",
                                'Ladder score':'Happiness Score',
                                'Explained by: Social support':'Family (Social Support)',
                                'Explained by: Healthy life expectancy':'Health (Life Expectancy)',
                                'Explained by: Freedom to make life choices':'Freedom',
                                'Explained by: Perceptions of corruption':'Trust (Government Corruption)',
                                'Explained by: Log GDP per capita':'Economy (GDP per Capita)',
                                'Explained by: Generosity':'Generosity',
                                "Dystopia + residual" :"Dystopia"})


#Criando e atribuindo valores a coluna Happiness Rank utilizando um range considerando o index das linhas:
dados_2021['Happiness Rank'] = [i for i in range(1, len(dados_2021.index)+1)]

dados_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        149 non-null    object
 1   Region                         149 non-null    object
 2   Happiness Score                149 non-null    float64
 3   Whisker high                   149 non-null    float64
 4   Whisker low                    149 non-null    float64
 5   Economy (GDP per Capita)       149 non-null    float64
 6   Family (Social Support)        149 non-null    float64
 7   Health (Life Expectancy)       149 non-null    float64
 8   Freedom                        149 non-null    float64
 9   Generosity                     149 non-null    float64
 10  Trust (Government Corruption)  149 non-null    float64
 11  Dystopia                       149 non-null    float64
 12  Year                           149 non-null    object
 13  Happiness Rank                 149 non-null    int64
dtypes: float64(10), int64(1), object(3)
memory usage: 16.4+ KB

In [ ]:
#Renomeando colunas necessárias:
dados_2022 = dados_2022.rename(columns={'RANK':'Happiness Rank',
                                'Happiness score':'Happiness Score',
                                'Explained by: GDP per capita':'Economy (GDP per Capita)',
                                'Explained by: Social support':'Family (Social Support)',
                                'Explained by: Healthy life expectancy':'Health (Life Expectancy)',
                                'Explained by: Freedom to make life choices':'Freedom',
                                'Explained by: Generosity':'Generosity',
                                'Explained by: Perceptions of corruption':'Trust (Government Corruption)'})

#Criando e atribuindo valores a coluna Região a parte da coluna Região já existente no df com dados de 2015:
dados_2022 = dados_2022.merge(dados_2015[["Country","Region"]], on="Country", how="left")
#Colocando '-' onde não bá região correspondente para tratamentos mais a frente:
dados_2022["Region"] = dados_2022["Region"].fillna('-')

dados_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147 entries, 0 to 146
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Happiness Rank                 147 non-null    int64
 1   Country                        147 non-null    object
 2   Happiness Score                146 non-null    object
 3   Whisker-high                   146 non-null    object
 4   Whisker-low                    146 non-null    object
 5   Dystopia (1.83) + residual     146 non-null    object
 6   Economy (GDP per Capita)       146 non-null    object
 7   Family (Social Support)        146 non-null    object
 8   Health (Life Expectancy)       146 non-null    object
 9   Freedom                        146 non-null    object
 10  Generosity                     146 non-null    object
 11  Trust (Government Corruption)  146 non-null    object
 12  Year                           147 non-null    object
 13  Region                         147 non-null    object
dtypes: int64(1), object(13)
memory usage: 17.2+ KB

In [ ]:
#Lista com as colunas em comum nos dataframes
dados_filtrados = [dados_2015[common_cols], dados_2016[common_cols], dados_2017[common_cols], dados_2018[common_cols], dados_2019[common_cols], dados_2020[common_cols], dados_2021[common_cols], dados_2022[common_cols]]

In [ ]:
#Criando o dataframe final
dados_finais = pd.DataFrame(columns=common_cols)
dados_finais = dados_finais.append(dados_filtrados)

#Removendo linhas com valores nulos:
dados_finais.dropna(axis='rows',inplace=True)

dados_finais

,Happiness Rank,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,1,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015-01-01
1,2,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.4363,2015-01-01
2,3,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015-01-01
3,4,Norway,Western Europe,7.522,1.459,1.33095,0.88521,0.66973,0.36503,0.34699,2015-01-01
4,5,Canada,North America,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015-01-01
...,...,...,...,...,...,...,...,...,...,...,...
141,142,Botswana*,-,"3,471","1,503","0,815","0,280","0,571","0,102","0,012",2020-01-01
142,143,Rwanda*,-,"3,268","0,785","0,133","0,462","0,621","0,544","0,187",2020-01-01
143,144,Zimbabwe,Sub-Saharan Africa,"2,995","0,947","0,690","0,270","0,329","0,105","0,106",2020-01-01
144,145,Lebanon,Middle East and Northern Africa,"2,955","1,392","0,498","0,631","0,103","0,034","0,082",2020-01-01
145,146,Afghanistan,Southern Asia,"2,404","0,758","0,000","0,289","0,000","0,005","0,089",2020-01-01

In [ ]:
dados_finais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1229 entries, 0 to 145
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Happiness Rank                 1229 non-null   object
 1   Country                        1229 non-null   object
 2   Region                         1229 non-null   object
 3   Happiness Score                1229 non-null   object
 4   Economy (GDP per Capita)       1229 non-null   object
 5   Family (Social Support)        1229 non-null   object
 6   Health (Life Expectancy)       1229 non-null   object
 7   Freedom                        1229 non-null   object
 8   Trust (Government Corruption)  1229 non-null   object
 9   Generosity                     1229 non-null   object
 10  Year                           1229 non-null   object
dtypes: object(11)
memory usage: 115.2+ KB

In [ ]:
#Padronizando nome das regiões:
for index, row in dados_finais.iterrows():
  if row['Region'] == 'East Asia':
    row['Region'] = 'Eastern Asia'
  elif row['Region'] == 'Southeast Asia':
    row['Region'] = 'Southeastern Asia'
  elif row['Region'] == 'North America and ANZ':
    row['Region'] = 'North America'

In [ ]:
#Padronizando região dos paises 'New Zealand' e 'Australia'
for index, row in dados_finais.iterrows():
    if row['Country'] == 'New Zealand' or row['Country'] == 'Australia':
      row['Region'] = 'Australia and New Zealand'

In [ ]:
#Nome de todas as regiões
dados_finais['Region'].unique()

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Southeastern Asia', 'Central and Eastern Europe', 'Eastern Asia',
       'Sub-Saharan Africa', 'Southern Asia', '-',
       'Middle East and North Africa',
       'Commonwealth of Independent States', 'South Asia'], dtype=object)

In [ ]:
#Padronizando nome dos paises:
for index, row in dados_finais.iterrows():
    if row['Country'] == 'Hong Kong S.A.R. of China' or row['Country'] == 'Hong Kong' or row['Country'] == 'Hong Kong S.A.R., China':
      row['Country'] = 'Hong Kong S.A.R China'
    elif row['Country'] == 'Trinidad & Tobago':
      row['Country'] = 'Trinidad and Tobago'
    elif row['Country'] == 'Czechia':
      row['Country'] = 'Czech Republic'
    elif row['Country'] == 'North Macedonia':
      row['Country'] = 'Macedonia'
    elif row['Country'] == 'Cyprus' or row['Country'] == 'Northern Cyprus':
      row['Country'] = 'North Cyprus'

In [ ]:
#Removendo '*' dos nomes dos paises:
dados_finais['Country'] = dados_finais['Country'].apply(lambda x: x.replace('*', ''))

In [ ]:
#Nome de todos os paises:
dados_finais['Country'].unique()

array(['Switzerland', 'Iceland', 'Denmark', 'Norway', 'Canada', 'Finland',
       'Netherlands', 'Sweden', 'New Zealand', 'Australia', 'Israel',
       'Costa Rica', 'Austria', 'Mexico', 'United States', 'Brazil',
       'Luxembourg', 'Ireland', 'Belgium', 'United Arab Emirates',
       'United Kingdom', 'Oman', 'Venezuela', 'Singapore', 'Panama',
       'Germany', 'Chile', 'Qatar', 'France', 'Argentina',
       'Czech Republic', 'Uruguay', 'Colombia', 'Thailand',
       'Saudi Arabia', 'Spain', 'Malta', 'Taiwan', 'Kuwait', 'Suriname',
       'Trinidad and Tobago', 'El Salvador', 'Guatemala', 'Uzbekistan',
       'Slovakia', 'Japan', 'South Korea', 'Ecuador', 'Bahrain', 'Italy',
       'Bolivia', 'Moldova', 'Paraguay', 'Kazakhstan', 'Slovenia',
       'Lithuania', 'Nicaragua', 'Peru', 'Belarus', 'Poland', 'Malaysia',
       'Croatia', 'Libya', 'Russia', 'Jamaica', 'North Cyprus', 'Algeria',
       'Kosovo', 'Turkmenistan', 'Mauritius', 'Hong Kong S.A.R China',
       'Estonia', 'Indonesia', 'Vietnam', 'Turkey', 'Kyrgyzstan',
       'Nigeria', 'Bhutan', 'Azerbaijan', 'Pakistan', 'Jordan',
       'Montenegro', 'China', 'Zambia', 'Romania', 'Serbia', 'Portugal',
       'Latvia', 'Philippines', 'Somaliland region', 'Morocco',
       'Macedonia', 'Mozambique', 'Albania', 'Bosnia and Herzegovina',
       'Lesotho', 'Dominican Republic', 'Laos', 'Mongolia', 'Swaziland',
       'Greece', 'Lebanon', 'Hungary', 'Honduras', 'Tajikistan',
       'Tunisia', 'Palestinian Territories', 'Bangladesh', 'Iran',
       'Ukraine', 'Iraq', 'South Africa', 'Ghana', 'Zimbabwe', 'Liberia',
       'India', 'Sudan', 'Haiti', 'Congo (Kinshasa)', 'Nepal', 'Ethiopia',
       'Sierra Leone', 'Mauritania', 'Kenya', 'Djibouti', 'Armenia',
       'Botswana', 'Myanmar', 'Georgia', 'Malawi', 'Sri Lanka',
       'Cameroon', 'Bulgaria', 'Egypt', 'Yemen', 'Angola', 'Mali',
       'Congo (Brazzaville)', 'Comoros', 'Uganda', 'Senegal', 'Gabon',
       'Niger', 'Cambodia', 'Tanzania', 'Madagascar',
       'Central African Republic', 'Chad', 'Guinea', 'Ivory Coast',
       'Burkina Faso', 'Afghanistan', 'Rwanda', 'Benin', 'Syria',
       'Burundi', 'Togo', 'Puerto Rico', 'Belize', 'Somalia',
       'Somaliland Region', 'Namibia', 'South Sudan',
       'Taiwan Province of China', 'Gambia', 'Maldives', 'Congo',
       'Eswatini, Kingdom of'], dtype=object)

In [ ]:
#Criando dicionários com as regiões faltantes:
pais_região = {'Taiwan Province of China':'Eastern Asia', 
  'Belize':'Latin America and Caribbean',
  'Hong Kong S.A.R China': 'Eastern Asia',
  'Somalia':'Middle East and North Africa',
  'Namibia':'Southern Asia',
  'South Sudan': 'Middle East and Northern Africa',
  'Trinidad and Tobago':'Latin America and Caribbean',
  'Northern Cyprus': 'Central and Eastern Europe',
  'North Macedonia': 'Central and Eastern Europe',
  'Gambia':'Sub-Saharan Africa',
  'Luxembourg':'Western Europe',
  'Czechia':'Central and Eastern Europe',
  'Guatemala':'Latin America and Caribbean',
  'Kuwait':'Middle East and North Africa',
  'Belarus':'Central and Eastern Europe',
  'Turkmenistan':'Central and Eastern Europe',
  'North Cyprus':'Western Europe',
  'Libya' : 'Middle East and Northern Africa',
  'Azerbaijan':'Central and Eastern Europe',
  'Gambia':'Sub-Saharan Africa',
  'Liberia':'Sub-Saharan Africa',
  'Congo': 'Middle East and Northern Africa',
  'Niger': 'Sub-Saharan Africa',
  'Comoros': 'Sub-Saharan Africa',
  'Palestinian Territories':'Middle East and Northern Africa',
  'King of Eswatini' : 'Southern Africa',
  'Madagascar':'Sub-Saharan Africa',
  'Chad':'Sub-Saharan Africa',
  'Yemen':'Middle East and Northern Africa',
  'Mauritania':'Sub-Saharan Africa',
  'Lesotho':'Sub-Saharan Africa',
  'Botswana':'Sub-Saharan Africa',
  'Rwanda':'Sub-Saharan Africa',
  'Macedonia' : 'Central and Eastern Europe',
  'Trinidad and Tobago' : 'Latin America and Caribbean',
  'Czech Republic': 'Western Europe',
  'Eswatini, Kingdom of': 'Sub-Saharan Africa'}

In [ ]:
#Atribuindo as regiões faltantes conforme pais:
for index, row in dados_finais.iterrows():
  for chave, valor in pais_região.items():
    if row['Country'] == chave:
      row['Region'] = pais_região[chave]

In [ ]:
#Convertendo o tipo das colunas para flot64 (colunas que precisam ser numéricas)

dados_finais['Happiness Rank'] = dados_finais['Happiness Rank'].astype('int')

dados_finais['Happiness Score'] = dados_finais['Happiness Score'].apply(lambda x: str(x).replace(",", '.'))
dados_finais['Happiness Score'] = dados_finais['Happiness Score'].astype('float64')

dados_finais['Economy (GDP per Capita)'] = dados_finais['Economy (GDP per Capita)'].apply(lambda x: str(x).replace(",", '.'))
dados_finais['Economy (GDP per Capita)'] = dados_finais['Economy (GDP per Capita)'].astype('float64')

dados_finais['Family (Social Support)'] = dados_finais['Family (Social Support)'].apply(lambda x: str(x).replace(",", '.'))
dados_finais['Family (Social Support)'] = dados_finais['Family (Social Support)'].astype('float64')

dados_finais['Health (Life Expectancy)'] = dados_finais['Health (Life Expectancy)'].apply(lambda x: str(x).replace(",", '.'))
dados_finais['Health (Life Expectancy)'] = dados_finais['Health (Life Expectancy)'].astype('float64')

dados_finais['Freedom'] = dados_finais['Freedom'].apply(lambda x: str(x).replace(",", '.'))
dados_finais['Freedom'] = dados_finais['Freedom'].astype('float64')

dados_finais['Trust (Government Corruption)'] = dados_finais['Trust (Government Corruption)'].apply(lambda x: str(x).replace(",", '.'))
dados_finais['Trust (Government Corruption)'] = dados_finais['Trust (Government Corruption)'].astype('float64')

dados_finais['Generosity'] = dados_finais['Generosity'].apply(lambda x: str(x).replace(",", '.'))
dados_finais['Generosity'] = dados_finais['Generosity'].astype('float64')

In [ ]:
#Dataframe finalizado:
dados_finais

,Happiness Rank,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,1,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015-01-01
1,2,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015-01-01
2,3,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015-01-01
3,4,Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015-01-01
4,5,Canada,North America,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015-01-01
...,...,...,...,...,...,...,...,...,...,...,...
141,142,Botswana,Sub-Saharan Africa,3.471,1.50300,0.81500,0.28000,0.57100,0.10200,0.01200,2020-01-01
142,143,Rwanda,Sub-Saharan Africa,3.268,0.78500,0.13300,0.46200,0.62100,0.54400,0.18700,2020-01-01
143,144,Zimbabwe,Sub-Saharan Africa,2.995,0.94700,0.69000,0.27000,0.32900,0.10500,0.10600,2020-01-01
144,145,Lebanon,Middle East and Northern Africa,2.955,1.39200,0.49800,0.63100,0.10300,0.03400,0.08200,2020-01-01
145,146,Afghanistan,Southern Asia,2.404,0.75800,0.00000,0.28900,0.00000,0.00500,0.08900,2020-01-01

In [ ]:
dados_finais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1229 entries, 0 to 145
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Happiness Rank                 1229 non-null   int64
 1   Country                        1229 non-null   object
 2   Region                         1229 non-null   object
 3   Happiness Score                1229 non-null   float64
 4   Economy (GDP per Capita)       1229 non-null   float64
 5   Family (Social Support)        1229 non-null   float64
 6   Health (Life Expectancy)       1229 non-null   float64
 7   Freedom                        1229 non-null   float64
 8   Trust (Government Corruption)  1229 non-null   float64
 9   Generosity                     1229 non-null   float64
 10  Year                           1229 non-null   object
dtypes: float64(7), int64(1), object(3)
memory usage: 115.2+ KB

In [ ]:
#importando o dataframe final em um arquivo .csv
dados_finais.to_csv("dados_finais.csv", index = False)